{% extends 'base.html.twig' %}

{% block body %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<div class="container">
    <div class="row">
        <div class="col text-center mt-4 mb-4">
            <a class="btn btn-primary" href="{{ path('create') }}">Añade un proveedor</a>
        </div>
    </div>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success mt-4 mb-4">
                {{ message }}
            </div>
        {% endfor %}
    <table id="supplierList" class="table table-striped display">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Mail</th>
        <th scope="col">Telefono</th>
        <th scope="col">Tipo</th>
        <th scope="col">Activo</th>
        <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for data in suppliers %}
        <tr>
        <th scope="row">{{data.id}}</th>
        <td>{{data.name}}</td>
        <td>{{data.mail}}</td>
        <td>{{data.phone}}</td>
        {% if data.hotelSupplier == 1 %}
            <td>Hotel</td>
        {% elseif data.trackSupplier == 1 %}
            <td>Pista</td>
        {% else %}
            <td>Complemento</td>
        {% endif %}
        {% if data.isActive == 1 %}
            <td>Sí</td>
        {% else %}
            <td>No</td>
        {% endif %}
        <td>
            <a class="btn btn-warning" href="{{ path('update', {'id':data.id}) }}">Edita</a>
            <a class="btn btn-danger" href="{{ path('delete', {'id':data.id}) }}">Elimina</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
<script>
    $(document).ready( function () {
        $('#supplierList').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>
{% endblock %}
